@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Syne+Mono&display=swap');



$lightBlue: #c7caf0;
$lightOrange: #e8b962;
.app{
  display: flex;
  justify-content: center;
  .container {
    max-width: 100%;
    padding: 0;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
       
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightBlue;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    
        .logo {
      max-width: 100px;
          }

    //FOOTER

    footer {
      .leftSide img {
        width: 60px;
        margin-top: 10px;
      }
      margin-bottom: 0;
      padding: 0px 0px;
      background-color: rgb(221, 221, 221);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      max-width: 100%;
      max-height: fit-content;
      //min-height: calc(100% - 285px); // 285 should be the height of your header + height of footer.
    }

    //HOME


    .home {
      height: 90vh;
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/background2.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    
      
      .content {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .quote {
          width: 600px;
          margin: auto;
          max-width: 900px;
          min-height: 180px;
          padding: 2%;
          background: rgba(245, 245, 245, 0.806);
          
          border-radius: 40px;
          box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          //align-items: flex-start;
          

          p{
            color: rgb(4, 3, 4);
            font-size: 25px;
            font-style: oblique;
            font: bolder;
            //font-style: italic;
            font-family: 'Shadows Into Light', cursive;
            word-wrap: break-word;
           }

           p: last-of-type{
            margin: 100px 0;

           }

           .button {
            margin-left: 230px;
            position: relative;
            outline: none;
            text-decoration: none;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-decoration-color: #c7caf0;
            height: 50px;
            width: 100px;
            opacity: 1;
            background-color: rgba(213, 69, 21, 0.777);
            border: 1px solid rgba(0, 0, 0, 0.6);
          }
            
          .button span {
            color: whitesmoke;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.7px;
          }
            
          .button:hover {
            animation: rotate 0.7s ease-in-out both;
          }
            
          .button:hover span {
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s;
          }

          }
           
          
          }
        }
    

      }
.img-background{
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/background.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

//YourHealth
.nutrition {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/nutrition.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 150px;
    color: white;
    margin-left: 5vw;
  }

  div.card {
    margin-right: 5vw;
    opacity: 50%;
    background-color: rgb(252, 163, 178);
    color: white;
  }

  div.card:hover{
    opacity: 100%;
    background-color: pink;
  }

  
}

.stress {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/Stress_Management.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 150px;
    color: white;
    margin-left: 5vw;
  }

  div.card {
    background-color: rgb(181, 134, 181);
    color: white;
    margin-right: 5vw;
    opacity: 50%;
  }

  div.card:hover{
    opacity: 100%;
    background-color: rgb(202, 165, 202);
  }

  
}



.sleep {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/sleep.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 150px;
    color: white;
    margin-left: 5vw;
  }

  div.card {
    margin-right: 5vw;
    opacity: 50%;
    background-color: rgb(82, 82, 131);
    color: white;
  }

  div.card:hover{
    opacity: 100%;
    background-color: rgb(116, 116, 170);
  }

  
}



//Navbar
nav {
  position: relative;
  padding: 0;
}

a.nav-link {
  top: 2vh;
}

  .google-button {
    left: 82vw;
    position: absolute;
   
  }

.shift-down {
  margin-top: 1.4vh;
  margin-left: 1.2vw;
}

hr {
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

};