$lightBlue: #c7caf0;
$lightOrange: #e8b962;
.app{
  display: flex;
  justify-content: center;
  .container {
    width: 100%;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
       
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightBlue;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR
    .navbar {
      width: 100%;
      height: 100px;
      background-color: rgb(221, 221, 221);
      display: flex;
      flex-direction: row;
    
    
    .leftSide {
      flex: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;

      .heading{
        color: rgba(255, 255, 255, 0.885);
        font-size: xx-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    }
    
    .leftSide img {
      width: 150px;
      size: 50cm;
      margin-top: 10px;
    }

    .rightSide {
      flex: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    a {
      color: black;
      text-decoration: none;
      margin: 20px;
    }
    
    .rightSide button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
    
    .rightSide svg {
      font-size: 40px;
    }
    
    #open {
      padding-left: 0px;
    }
    #open img {
      display: none;
    }
    
    #close img {
      display: inherit;
    }
    
     #open .hiddenLinks {
      display: inherit;
      margin-left: 30px;
    }
    
     #close .hiddenLinks {
      display: none;
    }
    
    #open a {
      width: 70px;
      margin: 5px;
    }
    @media only screen and (max-width: 900px) {
      .rightSide a {
        width: 70px;
      }
      .leftSide {
        padding-left: 50px;
      }
    }
    
    @media only screen and (max-width: 600px) {
      .rightSide a {
        display: none;
      }
    
      .rightSide {
        justify-content: flex-end;
        padding-right: 50px;
      }
    
      .rightSide button {
        display: inherit;
      }
    }
    
    @media only screen and (min-width: 600px) {
      .rightSide button {
        display: none;
      }
    
      .hiddenLinks {
        display: none;
      }
    }
  }
  
/*
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 20px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          &:hover {
            color: teal;
            background-color: white;
          }
        }
      }
    }
    */

    //FOOTER

    footer {
      .leftSide img {
        width: 60px;
        margin-top: 10px;
      }
      margin-bottom: 0;
      padding: 20px 0px;
      background-color: rgb(221, 221, 221);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      width: 100%;
      height: 30px;
      //min-height: calc(100% - 285px); // 285 should be the height of your header + height of footer.
    }

    //HOME
    

    .home {
      height: 90vh;
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/homepage2.jpeg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    
      
      .content {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .quote {
          width: 600px;
          margin: auto;
          max-width: 900px;
          min-height: 180px;
          padding: 2%;
          background: rgba(245, 245, 245, 0.661);
          
          border-radius: 4px;
          box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          //align-items: flex-start;
          

          p{
            color: rgb(4, 3, 4);
            font-size: 25px;
            font-style: oblique;
            font: bolder;
            //font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            word-wrap: break-word;
           }

           p: last-of-type{
            margin: 100px 0;

           }

           .button {
            position: relative;
            outline: none;
            text-decoration: none;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-decoration-color: #c7caf0;
            height: 50px;
            width: 100px;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.777);
            border: 1px solid rgba(22, 76, 167, 0.6);
          }
            
          .button span {
            color: whitesmoke;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.7px;
          }
            
          .button:hover {
            animation: rotate 0.7s ease-in-out both;
          }
            
          .button:hover span {
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s;
          }

           }
           
          
          }
        }
    

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightBlue;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
};